.body-bg{
    background-color: black;
}

.heading-div{
background-image: linear-gradient(120deg, #3494E6 0%, #EC6EAD 100%);
}


.mainimg{
    
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    


}
.name{
    text-align: center;
    color:navy;
    font-family: 'Roboto', sans-serif;
    margin-top: 60%;
    margin-left: 0%;
    
    
}

#icon{
    height:40px;
    width: 40px;
    margin-top: 5%;

}