.cube1{
    background-color: grey;
    height: 80px;
    width:300px ;
    position: absolute;
    margin-top: 15%;
    margin-left: 30%;
    
}

.cube2{
    background-color: grey;
    height: 80px;
    width:300px ;
    position: absolute;
    margin-top: 25%;
    margin-left: 50%;

}

#v{
    color:blanchedalmond;
    font-family:'Nothing You Could Do',cursivestyl;
    position:absolute;
    top:10%;
    left:50%;
    font-size:50px;
}
#c{
    color:blanchedalmond;
    font-family:'Nothing You Could Do',cursivestyl;
    position:absolute;
    top:0%;
    right: 40%;
    font-size:50px;

}