

#v{
    color:black;
    font-family:'Nothing You Could Do',cursivestyl;
    position:absolute;
    top:20%;
    left:20%;
    font-size:50px;
}
#c{
    color:black;
    font-family:'Nothing You Could Do',cursivestyl;
    position:absolute;
    top:30%;
    left: 30%;
    font-size:50
}
.homepurple{
    height: 99%;
    width:99%;
    background-image: linear-gradient(120deg, #3494E6 0%, #EC6EAD 100%);
    position: absolute;
    left:0px;
   
}
.p{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    top:45%;
    left: 20%;
    
    font-size:30;
}
.gre{
    height: 40%;
    width:99%;
    background-color:white;
    position: absolute;
    right:0px;
   
}